<launch>
    <arg name="model" default="$(find firo_description)/robots/firo.urdf.xacro"/>
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="25.0" />
    </node>
</launch>