<launch>
    <arg name="imu_name"            default="front_camera"/>
    <node pkg="imu_transformer" type="imu_transformer_node" name="imu_data_transformer" output="screen">
        <remap from="imu_in" to="/$(arg imu_name)/imu"/>
        <remap from="imu_out" to="/imu_transformed"/>
        <param name="target_frame" value="base_link"/>
    </node>
    <remap from="~image" to="/front_camera/left/image_rect_gray"/>
    <include file="$(find marker_based_localization)/launch/aligned_marker_based_localization_ros.launch"/>
    <include file="$(find firo_localization)/launch/odom_sensor_fusion.launch"/>
    <include file="$(find firo_localization)/launch/map_sensor_fusion.launch"/>

    <node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect">
        <remap from="~image" to="/front_camera/depth/depth_registered_raw"/>
        <remap from="~camera_info" to="/front_camera/depth/camera_info"/>
        <param name="output_frame_id" value="front_left_camera_frame" />
        <param name="tilt_compensation_en" value="True" />
        <param name="ground_remove_en" value="True" />
        <param name="range_max" value="10" />
        <param name="range_min" value="0.2" />
        <param name="sensor_tilt_angle" value="0.20" />
        <param name="sensor_mount_height" value="0.05" />
    </node>

<!--
    <node pkg="gmapping" type="slam_gmapping" name="gmapping">
        <remap from="scan" to="/laserscan_kinect/scan" />
        <param name="transform_publish_period" value="0.0" />
        <param name="map_update_interval" value="1.0" />
        <param name="temporalUpdate" value="1.0" />
    </node>

    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="/laserscan_kinect/scan" />
        <remap from="/odom" to="/odometry/filtered"/>

        <param name="use_map_topic" value="true"/>
        <param name="tf_broadcast" value="false" />
        <param name="odom_model_type" value="diff-corrected"/>
    </node>

-->
</launch>
